*{
    font-family: "Nunito Sans";
}
header{
    width: 55em;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 18em 20em;
}
header div img{
    margin-left: 6em;
    width: 30em;
}
header div:nth-child(1){
    margin: auto;
    border: 1px solid;
}
header div h1{
    font-size: 2em;
    text-align: center;
}
header div p{
    margin-left: 1em;
}