*{
    font-family: "Lato", sans-serif;
}
body{
    background-color: #fbf4df;
}
.grid-superior{
    display: grid;
    grid-template-columns: 30em 25em;
}
.grid-superior img{
    width: 25em;
}
.grid-superior div:nth-child(1){
    padding: 4em;
}
.grid-superior h1{
    font-size: 2.5em;
}
button{
    font-size: 0.9em;
    width: 11em;
    height: 3em;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 2em;
    margin-top: 0em;
}
.grid-inferior{
    width: 56em;
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4,14em);
    background-color: #f8d046;
    border: 1px solid black;
    box-shadow: 0.5em 1.2em #c0a234;
    border-radius: 2em;
}
.grid-inferior div{
    margin: auto;
}
.img-a{
    position: absolute;
    top: 0%;
}
.img-b{
    position: absolute;
    top: 26em;
    left: 52em;
}
.img-a img{
    margin: 1em ;
    height: 5em;
}