*{
    font-family: "Nunito Sans";
}
section{
    display: grid;
    grid-template-columns: 15em 15em 15em 15em ;
}
.div-section div p:nth-child(1){
    font-size: 1.5em;
    color: rgb(175, 175, 177);
    font-weight: 700;
}
h1{
    font-size: 3.2em;
}
img{
    margin-top: 1em;
    width: 12.6em;
}
p{
    margin: auto;
}