*{
    font-family: "Nunito Sans";
}
header{
    display: grid;
    grid-template-columns: 22vw 10vw;
}
header div:nth-child(1){
    margin-top: 5vw;
    margin-left: 1vw;
}
header div:nth-child(2){
    margin-left: 5vw;
    margin-top: 4.8vw;
}
header div h1{
    font-size: 2.5vw;
}
header div p{
    color: #828282;
    font-size: 1vw;
}
header img{
    width: 30vw;
}
button{
    font-size: 0.75vw;
    width: 8vw;
    height: 3vw;
    background-color: #252525;
    color: white;
    border: 1px solid #252525;
    border-radius: 1vw;
}
section{
    border-radius: 1.5vw;
    width: 57vw;
    margin-top: 2vw;
    background-color: #252525;
    display: grid;
    grid-template-columns: 19vw 19vw 19vw;
}
section div{
    padding: 2vw;
    color: rgb(203, 203, 203);
}